services:
  - type: web
    name: dj-console-backend
    env: python
    buildCommand: pip install -r back/requirements.txt
    startCommand: cd back && uvicorn app:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11




